.vxod{
    width:50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.time{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.rank{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
