p {
  font-family: Lato;
}

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.vse{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
app-task-item{
  width: 70%;
}
.windows{display: flex;
flex-direction: column;}
app-swimup{
  width:100% ;
  padding-top: 10px;
}
app-swimuptwo{
  width:100% ;
}
.invisible{
  display: none;
}
